<!DOCTYPE html>
<html>

<head>
  <%- include("./partials/head") %>
</head>

<body>
    <input type="hidden" id="personal_page">
    <input type="hidden" id="personal_id" value="<%= personal.account.id %>">
    <div class="background-cover"></div>
    <div id="wrap" class="wrap-nicescroll">
        <!-- TOP NAVIGATION -->
        <%- include("./partials/topnav") %>
        <!-- MAIN NAVIGATION -->
        <%- include("./partials/header") %>

        <div class="main-content page-full-width">
            <div class="container">
                <div class="with-sidebar-container">
                    <div class="q-main-content">
                        <div class="container">
                            <div class="row">
                                <!-- <div class="col"></div> -->
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-5 sidebar">
                                            <div class="widget personal_info-widget">
                                                <h3 class="widget_title">
                                                    Student Information
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                    </svg>
                                                </h3>
                                                <ul class="public_personal_info" data-spy="scroll" data-offset="0">
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                Full name: 
                                                                <a href="#">
                                                                    <%= personal.fullname %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                Student ID:
                                                                <a href="#">
                                                                    <%= personal.studentId %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <% if(personal.class != null ){ %>
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                Class:
                                                                <a href="#">
                                                                    <%= personal.class.classId %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                Faculty:
                                                                <a href="#">
                                                                    <%= personal.faculty.name %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <% if(personal.birthday.length > 0){ %>
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                Birthday:
                                                                <a href="#">
                                                                    <%= personal.birthday %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                School year:
                                                                <a href="#">
                                                                    20<%= personal.schoolYear %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                    <li class="related-item todo-list-item">
                                                        <div class="questions-div">
                                                            <h3>
                                                                Mail:
                                                                <a href="#">
                                                                    <%= personal.studentEmail %>
                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="stream-list col-md-7" id="posts_data">
                                        </div> 
                                    </div>
                                        
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cmt_modal" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                        <div class="w3-center"><br>
                            <span id="close_cmt_modal" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                        </div>
                    
                        <div class="modify-modal">
                            <div class="w3-section">
                                <input type="hidden" id="cmtId" value="">
                                <input id="cmt" class="w3-input w3-border w3-margin-bottom" type="text" name="cmt" required>
                                <button id="cmt_accept" class="w3-button w3-block w3-section w3-padding">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="post_modal" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
                        <div class="w3-center"><br>
                            <span id="close_post_modal" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                        </div>
                    
                        <div class="modify-modal">
                            <div class="w3-section">
                                <input type="hidden" id="postId" value="">
                                <label for="postCaption"></label>
                                <input id="postCaption" class="w3-input w3-border w3-margin-bottom" type="text" name="post" required>
                                <label for="postLink"></label>
                                <input id="postLink" class="w3-input w3-border w3-margin-bottom" type="text" name="post" required>
                                <button id="post_accept" class="w3-button w3-block w3-section w3-padding">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WEB INFORMATION -->
        <%- include("./partials/footer") %>
    </div>
</body>

</html>
<!-- SOCKET IO -->
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- JS ONLY -->
<script type="text/javascript" src="javascripts/main.js"></script>